/*
*	 Author: Abdulwahab Nasir (weybansky)
*	  Email: weybansky@gmail.acom
*	 Github: https://github.com/weybansky
*	Twitter: https://twitter.com/weybansky
*	Website: https://www.weybanskytech.com.ng
*/


/*@import url('https://fonts.googleapis.com/css?family=Lato');*/
/*font-family: 'Lato', sans-serif;*/


/*@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');*/
/*font-family: 'Gloria Hallelujah', cursive;*/


/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
/*font-family: 'Roboto', sans-serif;*/

/*@import url('https://fonts.googleapis.com/css?family=Handlee|Neucha|Patrick+Hand');*/
/*font-family: 'Handlee', cursive;*/
/*font-family: 'Patrick Hand', cursive;*/
/*font-family: 'Neucha', cursive;*/

/*@import url('https://fonts.googleapis.com/css?family=Titillium+Web');*/
/*font-family: 'Titillium Web', sans-serif;*/



/*Links to local fonts*/
@font-face {
	font-family: Lucida;
	src: url(../fonts/lucida-grande/LucidaGrande.ttf);
}

@font-face {
	font-family: Helveticaneue;
	src: url(../fonts/helveticanue/HelveticaNeue.ttf);
}

/*font-family: 'Helvetica Neue', sans-serif;*/


body{
	font-family: 'Roboto', sans-serif;
	/*font-family: Lucida, sans-serif;*/
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  padding: 10px 0px !important;
  background-color: #fff;
}
.sticky-nav + .content {
  padding-top: 60px;
}



/*The Top Navigation*/
nav.main-nav{
	padding: 5px 0px;
	min-height: 30px;
}

nav div.container,
nav div.row{
	padding: 0px;
	margin: 0px !important;
	width: 100%;
}

nav.main-nav div.row div{
	padding: 0px 5px;
}

nav.main-nav div.row div.nav-logo{
	width: 12%;
}

nav.main-nav div.row div.nav-form{
	width: 48%;
}

nav.main-nav div.row div.nav-links{
	width: 40%;
}

nav.main-nav a.logo{
	padding: 0px;
	display: block;
}

nav.main-nav img{
	display: block;
	height: 25px;
	margin: 0px;
	margin-top: 3px;
	margin-left: 5px;
}

nav.main-nav form{
	padding-top: 2px;
	padding-left: 1px;
	padding-right: 1px;
	display: block;
	font-size: 12px;
}

nav.main-nav form input{
	border: 1px solid #999;
	border-right: 0px none;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	float: left;
	padding: 3px 8px;
	height: 26px;
	width: 82%;
	outline: 0px;
}

nav.main-nav form input:focus{
	/*border-color: #356B44;*/
}

nav.main-nav form button{
	float: left;
	margin-right: -1px;
	height: 26px;
	width: 18%;
	background-color: #fff;
	color: #356B44;
	border: 1px solid #999;
	border-left: 0px solid #eee;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}


nav.main-nav ul{
	float: right;
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: right;
}

nav.main-nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 5px 3px;
	margin-right: 1px;
}

nav.main-nav ul li a{
	color: #333;
	font-size: 14px;
	display: block;
}

nav.main-nav ul li img{
	width: 20px;
  height: 20px;
  display: inline;
  margin: 0px;
}

nav.main-nav ul li a span.badge{
	vertical-align: top;
	margin-left: -15px;
	margin-top: -5px;
	font-size: 10px;
}

nav.main-nav ul li a:hover{
	text-decoration: none;
}

nav.main-nav ul li i{
	padding-right: 1px;
}

nav.main-nav div.row div.login ul li{
	margin: 0px;
	padding: 0px;
}

nav.main-nav div.row div.login ul li a{
	display: block;
	padding: 5px 12px;
	font-weight: bold;
	/*font-family: 'Lato', sans-serif;*/
}

nav.main-nav div.row div.login ul li a:hover{
	background-color: #356B44;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
}




/*The Second Navigation*/
section.second-nav{
	/*background-color: #fcf8e3;*/
	background-color: #ffffff;
	padding: 5px 0px;
	padding-top: 8px;
	padding-bottom: 12px;
	margin: 0px;
	border-top: 1px solid #ddd;
	border-bottom: 2px solid #ccc;
	/*box-shadow: 1px 0px 10px;*/
	/*margin-bottom: 5px;*/
}

section.second-nav div.container{
	padding: 0px;
	margin: 0px;
}


section.second-nav div.profile{
	padding: 0px;
	margin: 0px;
}

section.second-nav div.profile  div{
	padding-bottom: 10px;
}

section.second-nav div.profile a{
	display: inline-block;
	text-align: left;
	padding-left: 10px;
}

section.second-nav div.profile a:hover{
	text-decoration: none;
}

section.second-nav div.profile a img{
	display: inline-block;
	height: 30px;
	width: 30px;
}

section.second-nav div.profile a span{
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}

section.second-nav div.profile a.create-post{
	color: #356B44;
	float: right;
}

section.second-nav div.profile a.creat-post i{
	font-size: 14px;
}

section.second-nav div.row.text-center{
	padding: 0px;
	margin: 0px;
}

section.second-nav div.row.text-center div a{
	color: #444;
	font-size: 12px;
}

section.second-nav div.row.text-center div a.active{
	color: #356B44;
}

section.second-nav div.row.text-center div a img{
	width: 25px;
	height: 25px;
	
	/*display: inline;*/
	/*margin: 0px;*/

	/*version 2*/
	/*display: block;*/
	/*margin: auto;*/
}


/*NAGIGATION FOR DESKTOP*/
nav.navbar.navbar-default{
	min-height: 35px !important;
	margin-bottom: 10px;
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid #eee;
	background-color: #fff;
}
.nav.navbar-nav{
	min-width: 240px;
}
.nav.navbar-nav img{
	width: 28px;height: 28px;
}
.navbar-nav > li > a {
    padding: 7px 15px;
    margin-right: 2px;
    display: block;
}

.navbar-nav.navbar-right > li > a.dropdown-toggle{
    padding: 7px 10px 7px 5px;
}


.navbar-nav > li {
	display: block;
}
.navbar-form{
	margin: 0px;
	padding: 4px 5px 4px 5px;
}
.navbar-form input{
	min-width: 180px;
	outline: 0;
	padding: 6px 6px 6px 14px;
	margin: 0px;height: 34px;
	font-size: 14px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border: 1px solid #ddd;
	border-right: 0px none;
	margin-right: -2px;
}
.navbar-form button{
	height: 34px;
	margin-top: -3px;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ddd;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-left: 0px none;
	background-color: #fff;
	margin-left: -2px;
}
.nav.navbar-nav ul.dropdown-menu{
	left: 0px;
	opacity: 0.96;
	border-style: hidden;
	border-radius: 0px;
	border-top: 0px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .175);
}
.navbar-right li a{
	font-weight: bold;
	color: #333 !important;
}

.navbar-right li ul li a{
	font-weight: normal;
	color: #333 !important;
	white-space: normal;
	padding: 10px 20px;
}

.navbar-right li.create a{
	padding: 10px 12px 10px 5px;
	margin-top: 1px;
	font-size: 14px;
}
.nav.navbar-nav.icon-link li a{
	font-size: 25px;
	color: #333;
}
.nav.navbar-nav.icon-link li a.active{
	color: #356B44;
	/*color: #58b572;*/
}

/*=====HOME PAGE CONTENT=====*/
section#home-page-content{
	/*margin-top: 30px;*/
}

section#home-page-content ul.nav-tabs li a{
	background-color: #356B44;
	color: #fff;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding:5px 20px;
}

section#home-page-content div.tab-content div.panel{
	border-radius: 0px;
	border: 0px;
}

section#home-page-content div.tab-content div.panel div.panel-body{
	border-radius: 3px;
}

section#home-page-content div.tab-content div.panel div.panel-body{
	box-shadow: 1px 1px 6px #aaa, -1px 1px 6px #aaa;
	margin-bottom: 18px;
}


/*======Article PAGE CONTENT=======*/
section#article{
	margin-top: 12px;
}

section#article div.container.article-nav{
	position: fixed;
	top: 0;
	display: block;
	width: 100%;
	z-index: 3;
	background-color: #fff;
	padding: 5px 15px;
}
section#article div.container.article-nav a.hub-ico{
	float: left;color: #333;
}

section#article div.container.article-nav a{
	font-size: 20px;
}

section#article div.container.article-nav a.recommended-ico{
 	float: right;color: #333;
}

section#article div.container.article-content{
	padding-top:30px;
}

section#article div.article-head-img{
	position: relative;
}

section#article div.article-head-img img{
	width: 100%;
}

section#article div.article-head-img div.cat{
	position: absolute;
	bottom: 0;
	left: 0;
	color: #333;
	background-color: #fff;
	/*background: #113e07;*/
	/*background-color: #113e0770;*/
	text-transform: uppercase;
	font-weight: 600;
}

section#article div.article-head-img div.cat a{
	color: #333;
	display: block;
	padding: 7px 15px;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
}

section#article div.article-head-title{
	padding: 8px 10px;
}

section#article div.article-head-title p.title{
	color: #555;
	font-weight: bold;
	font-size: 24px;
	margin: 0px;
	padding-bottom: 2px;
}

section#article div.article-head-title p.stats{
	color: #777;
	font-size: 12px;
	margin: 0px;
}

section#article div.article-head-title p.stats span.seperate{
	font-size: 4px;
	padding: 0px 8px;
	margin-top: 0px;
	vertical-align: middle;
}

section#article div.article-head-title p.stats i{
	margin-right: 4px;
}

section#article div.article-head-author{
	padding: 7px 7px;
	width: 100%;
}

section#article div.article-head-author img{
	display: inline-block;
	width: 15%;
	width: 40px;
	height: 40px;
}

section#article div.article-head-author p.author{
	display: inline-block;
	width: 50%;
	margin: 0px;
	vertical-align: middle;
	padding: 5px 8px;
	padding-right: 0px;
}

section#article div.article-head-author p.author span.name a{
	font-weight: bold;
	font-size: 14px;
	color: #333;
}

section#article div.article-head-author p.author span.name a:hover{
	text-decoration: none;
}

section#article div.article-head-author p.author span.level{
	font-size: 12px;
	color: #555;
}

section#article div.article-head-author p.author-action{
	display: inline-block;
	max-width: 34%;
	margin: 0px;
	vertical-align: middle;
	padding: 5px 8px;
	padding-right: 0px;
}

section#article div.article-head-author p.author-action span a{
	color: #356B44;
	display: block;
	padding: 5px;
}

section#article div.article-head-author p.author-action span a:hover{
	text-decoration: none;
	box-shadow: 0px 0px 10px #356B44;
}

section#article div.article-head-author p.author-action span i{
	font-size: 18px;
	margin-right: 10px;
	vertical-align: middle;
}

/*=============Article Body=================*/
div.article-content div.row div.art{
	padding-left: 0px;
	padding-right: 0px;
}

div.article-body{
	padding-top: 15px;
	padding-left: 8px;
	padding-right: 8px;
	line-height: 28px;
	letter-spacing: 0.1em;
	font-family: 'Handlee', cursive;
}

/*=============Article Footer============*/
section.article-footer div.row{
	margin: 0px;
}

section.article-footer div.row div{
	padding: 0px;
}

section.article-footer div.row div form{
	/*display: none;*/
	padding: 0px 10px;
}

section.article-footer ul.nav-tabs{
	margin-bottom: 5px;
	padding: 0px 10px;
}

section.article-footer ul.nav-tabs li a{
	background-color: #356B44;
	color: #fff;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	padding: 5px 12px;
	padding-bottom: 5px;
	margin-right: -3px;
}

section.article-footer ul.nav-tabs li.active a{
	color: #333;
	background-color: #dedede;
}

section.article-footer .btn-success{
	background-color: #356B44;
	border: 0px;
}

section.article-footer div#commentAndReviews div.row{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 80px;
}

section.article-footer div#commentAndReviews div.row#review{
	background-color: #eeeeee;
}

section.article-footer div#commentAndReviews div.row img{
	margin-top: 10px;
}

section.article-footer div#commentAndReviews div.row span.username,
section.article-footer div#commentAndReviews div.row span.username a{
	color: #356B44 !important;
}

section.article-footer div#commentAndReviews div.row span.level,
section.article-footer div#commentAndReviews div.row span.level a{
	color: #337ab7 !important;
}


/**/
section.article-footer div#commentAndReviews{
	padding: 10px 2px;
}

section.article-footer div#commentAndReviews div.comment{
	border-bottom: 2px solid #ccc;
	padding: 8px 2px;
}

section.article-footer div#commentAndReviews div.comment.review{
	background-color: #f3f6f8;
}

section.article-footer div#commentAndReviews div.comment div.comment-author img{
	display: inline-block;
	width: 40px;
	height: 40px;
}


section.article-footer div#commentAndReviews div.comment div.comment-author p.author{
	display: inline-block;
	padding-left: 5px;
	min-width: 70%;
	/*width: ;*/
	max-width: 84%;
	margin: 0px;
	vertical-align: middle;
}

section.article-footer div#commentAndReviews div.comment div.comment-author p.author span.name a{
	color: #333;
	font-weight: bold;
}

section.article-footer div#commentAndReviews div.comment div.comment-author p.author span.level{
	font-size: 13px;
	color: #777;
}

section.article-footer div#commentAndReviews div.comment div.comment-author p.author span.level i{
	vertical-align: middle;
	font-size: 4px;
	padding: 2px 3px;
	margin: 0px;
}

section.article-footer div#commentAndReviews div.comment div.comment-detail{
	padding-left: 45px;
	padding-top: 8px;
	color: #666;
	font-size: 13px;
}

section.article-footer div#commentAndReviews div.comment div.comment-stats{
	padding-left: 45px;
	padding-top: 8px;
	font-size: 12px;
	color: #777;
}

section.article-footer div#commentAndReviews div.comment div.comment-stats i{
	margin-right: 4px;
}


/*===========The Main profilePage=======*/
section#profilePage div.divrow{
	position: relative;
	/*background-color: #ccc;*/
	background-color: #E8F3EC;
	padding: 0px 10px;
}

section#profilePage div.divrow div.top{
	text-align: center;
	padding: 15px 0px;
	margin: 0px -5px;
}

section#profilePage div.divrow div.top p.page{
	display: inline-block;
	text-align: center;
	margin: 0px;
	padding-top: 4px;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 3px;
	font-family: monospace;
}

section#profilePage div.divrow div.top p a{
	color:#333;font-size: 18px
}

section#profilePage div.divrow div.img img{
	width: 94%;
	display: block;
	margin: 0px auto;
	box-shadow: 0px 0px 30px #eee;
}

section#profilePage div.divrow div.user_profile{
	position: relative;
	background-color: #fff;
	box-shadow: 0px 0px 15px #fff;
}

section#profilePage div.divrow div.user_profile div.icon{
	position: absolute;
	right: 0;
	top: 0;
}

section#profilePage div.divrow div.user_profile div.icon a{
	color: #333;
	font-size: 18px;
	display: block;
	padding: 5px;
	padding-top: 10px;
	padding-right: 12px;
}

section#profilePage div.user_profile div.user p.name{
	color: #333;
	font-weight: bold;
	font-size: 30px;
	margin: 0px;
	padding-left: 20px;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 5px;
}

section#profilePage div.user_profile div.user p.level{
	padding-left: 20px;
	color: #555;
	font-size: 12px;
}

section#profilePage div.user_profile div.user p.level span.username{
	margin-left: 15px;
	/*text-align: right;*/
	float: right;
	padding-right: 40px;
}

section#profilePage div.user_profile div.user p.short-bio{
	padding-left: 20px;
	padding-right:30px;
	color: #444;
	font-size: 13px;
	margin-bottom: 0px;
	padding-bottom: 18px;
	padding-top: 10px;
	color: #777;
}

section#profilePage div.user_profile p.stats{
	text-align: center;
	margin: 0px auto;
	width: 90%;
	padding: 18px 10px;
	background-color: #fff;
}

section#profilePage div.user_profile p.stats > span{
	display: inline-block;
	width: 32%;
	text-align: center;
}

section#profilePage div.user_profile p.stats > span span.text{
	color: #555;
	font-weight: lighter;
	font-size: 12px
}

section#profilePage div.user_profile p.stats > span span.value{
	letter-spacing: 4px;
	font-weight: bolder;
	font-size: 15px;
}

section#profilePage div.follow{
	margin: 0px -10px;
}

section#profilePage div.follow a.edit{
	display: block;

	/*Javascript*/
	color: #333;
	/*background: linear-gradient(to right, #ccc, #bbb, #ccc); */
	background-color: #E8F3EC;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	padding: 15px;
}

section#profilePage div.follow a.cancel{
	/*display: block;*/
	display: none;

	/*Javascript*/
	color: #333;
	/*background: linear-gradient(to right, #ccc, #aaa, #ccc); */
	background:-color: #E8F3EC;
	text-transform: uppercase;
	font-weight: bolder;
	text-align: center;
	padding: 15px;
}

section#profilePage div.follow a:hover{
	text-decoration: none;
}

section#profilePage div.follow a.follow{
	display: block;
	color: #333;
	font-weight: bold;
	text-align: center;
	padding: 15px;
}

section#profilePage div.follow a.following{
	display: block;
	color: #356B44;
	font-weight: bold;
	text-align: center;
	padding: 15px;
}

section#profilePage div.about{
	background-color: #fff;
	padding: 15px 0px;
	margin: 0px -10px;
	box-shadow: 0px 0px 15px #fff;
}

section#profilePage div.about .panel-body{
	font-size: 12px;
	color: #555;
	padding: 5px 15px;
}

section#profilePage div.about .panel-title{
	font-weight: bold;
	font-size: 14px;
	padding: 5px 0px;
}

section#profilePage p.no-detail{
	font-size: 13px;
	margin: 0px;
	padding: 5px 5px;
	letter-spacing: 1px;
}


/*====== The Edit Profile Page ======*/
section#profilePage div.edit{
	display: none;
	/*display: block;*/
	padding: 15px 0px;
	margin: 0px -10px;
	/*Javascript*/
	background-color: #fff;
	box-shadow: 0px 0px 15px #fff;
}

section#profilePage div.edit input:focus{
	border-color: #356B44;
}


section#profilePage div.edit button.btn-default{
	color: #fff; 
	border-radius: 0px;
	border: 1px solid #aaa;
	background-color: #365B44;
}







/*=====LOGIN/SIGNUP PAGE CONTENT*/
#login-page-text{
	margin-top: 20px;
}

#login-page-text p{
	margin-top: 15px;
	font-size: 18px;
}

#login-page-text p.login{
	font-size: 14px;
}

#login-page-text a{
	color: #356B44;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 20px;
}

#login-page-text p.login{
	font-size: 16px;
}

#login-page-text a:hover{
	text-decoration: none;
}

/*The Login Form*/
#login-form{
	margin-top: 20px;
}
/*==================================*/
#login-form div.panel{
	border-radius: 25px;
	border: 2px #777777 solid;
	background-color: rgba(255, 255, 255, 0.65);
}
/*============================================*/

#login-form div.panel h3{
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 20px;
}

#login-form form div.input-group span{
	height: 35px;
	background-color: rgba(255, 255, 255, 0.3) !important;
	color: #555555;
	font-size: 20px;
	border: 1px #777 solid;
	border-right-width: 0px;
	border-radius: 30px 0px 0px 30px !important;
}

#login-form form div.input-group input{
	height: 36px;
	border: 1px #777 solid;
	border-left-style: hidden;
	border-radius: 0px 30px 30px 0px !important;
	background-color: rgba(255, 255, 255, 0.3) !important;
}

#login-form form div.input-group input:focus{
	box-shadow: none;
	border-color: #356B44;
	box-shadow: 2px 0px 3px #356B44;
}

#login-form button{
	background-color: #356B44;
}	

#login-form .btn{
	border-radius: 10px;
}

#login-form #divide{
	height: 50px;
}

#login-form #divide hr{
	display: inline-block;
	width: 35%;
	border: 1px #aaaaaa solid;
	vertical-align: middle;
}

#login-form #divide span{
	font-family: monospace;
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	width: 20%;
	color: #777777;
}

/*Other Sign Up Options*/
#login-form #signup-options a{
	width: 100%;
	margin-bottom: 15px;
	padding: 5px 12px;
	font-size: 14px;
	font-family: monospace;
}

#login-form #signup-options a#facebook-signup-button{
	border-color: #1133aa;
}

#login-form #signup-options a#facebook-signup-button:hover{
	background-color: #1133aa;
	color: #fff !important;
}

#login-form #signup-options a#google-signup-button{
	border-color: #ff0000;
}

#login-form #signup-options a#google-signup-button:hover{
	background-color: #ff0000;
	color: #fff !important;
}

#login-form #signup-options i{
	float: left;
	vertical-align: bottom;
	font-size: 18px;
	border-radius: 25px;
	width: 30px;
	height: 30px;
	padding-top: 6px;
	padding-left: 2px;
}

#login-form #signup-options a#facebook-signup-button i{
	background-color: #1133aa;
	color: #ffffff;
}

#login-form #signup-options a#google-signup-button i{
	background-color: #ff0000;
	color: #ffffff;
}

#login-form #form-footer p{
	font-size: 15px;
	margin-bottom: 20px;
}

#login-form #form-footer p.copyright{
	font-size: 15px;
	margin-bottom: 15px;
}

#login-form #form-footer p.copyright a{
	color: #1133aa;
	text-decoration:none;
}


/*====HUB PAGE CONTENT=====*/
section#hub div.row{
	padding: 0px;
}

section#hub div.row.latest{
	margin-top: 20px;
}

section#hub h3.title{
	margin: 0px;
	padding: 10px 15px;
	padding-top: 10px;
	margin-bottom: 5px;
	font-size: 15px;
	text-transform: capitalize;
	font-weight: 600;
	background-color: #fff;
	color: #333;
	/*background: linear-gradient(to right, #eee, #cfc, #eee);*/
	/*border-bottom: 2px solid #ddd;*/
}

section#hub div.row div.post{
	background: #fff;
	margin-bottom: 15px;
	padding: 0px 10px;
}

section#hub div.row.latest div.post:last-child div.details{
	border-bottom: 0px;
}

section#hub div.row div.image{
	width: 100%;
	height: 200px;
	overflow: hidden;
	position: relative;
}

section#hub div.row div.image div.date{
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 12px;
	color: #333;
	border-radius: 50%;
	padding: 10px;
	text-align: center;
	width: 50px;
	height: 50px;
	background: #ffffff7f;
	text-transform: uppercase;
	font-weight: 600;
}

section#hub div.row div.image div.date p{
	margin: 0px;
}

section#hub div.row div.image div.date p span:last-child{
	/*display: none;*/
	font-size: 9px;
	display: block;
	margin-top: -2px;
}

section#hub div.row div.image div.category{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 12px;
	background-color: #ffffff;
	text-transform: uppercase;
	font-weight: 600;
}

section#hub div.row div.image div.category p{
	margin: 0px;
}

section#hub div.row div.image div.category p a{
	color: #555;
	display: block;
	padding: 5px 12px;
	text-decoration: none;
	text-transform: uppercase;
}

section#hub div.row div.details{
	padding: 5px 8px;
	border-bottom: 2px solid #ddd;
}

section#hub div.row div.details p.title{
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 2px;
}

section#hub div.row div.details p.title a{
	color: #444;
}

section#hub div.row div.details p.title small{
	font-weight: lighter;
	font-size: 12px;
}

section#hub div.row div.details p.title small a{
	font-weight: bold;
	color: #333;
}

section#hub div.row div.details p.facilitator-comment{
	font-family: 'Lato', sans-serif;
	/*font-style: italic;*/
	margin-bottom: 20px;
	color: #777;
	font-size: 14px;
	font-weight: 400;
}

section#hub div.row.latest div.details p.facilitator-comment{
	font-family: 'Lato', sans-serif;
	margin-bottom: 10px;
	color: #777;
	font-size: 12px;
	padding-right: 25px;
}

section#hub div.row div.details p.stats{
	font-size: 12px;
	color: #777;
	width: 100%;
}

section#hub div.row div.details p.stats span{
	/*margin-right: 10px;*/
}

section#hub div.row div.details p.stats span.seperator{
	font-size: 4px;
	padding: 0px 8px;
	margin-top: 0px;
	vertical-align: middle;
}

section#hub div.row div.details p.stats i{
	margin-right: 3px;
}


/*==== Recommended Page Content===*/
section#recommendation div.container.article-nav{
	padding: 7px 20px;
	/*background-color: #fcf8e3;*/
	background-color: #fff;
}

section#recommendation div.container.article-nav a.hub-ico{
	float: left;
	color: #333;
	font-size: 20px;
}

section#recommendation p.commentary{
	margin-top: 20px; color: #555; font-size: 14px;
}

section#recommendation form textarea:focus{
  border-color: #356B44;
	outline: 0;
	box-shadow: inset 0 1px 1px #356B44, 0 0 8px #356B44;
}

section#recommendation form button{
	background-color: #356B44;border: 0px;color: #fff;
}






/*=====NURSERY PAGE CONTENT=====*/
section#nursery div.container-fluid{
	padding: 0px;
	margin: 0px;
}

section#nursery div.row.pad{
	margin: 0px;
	padding: 0px;
}

section#nursery h3.title{
	margin: 0px;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #fff;
  /* background: linear-gradient(to right, #eee, #cfc, #eee); */
  border-bottom: 2px solid #ddd;
}

section#nursery div.row div.post{
	border-bottom: 2px solid #eee;
	padding: 10px 7px 7px 10px;
	margin-bottom: -2px;
	margin-top: -1px;
	background-color: #fff;
}

section#nursery div.row div.details{
	padding-top: 0px;
	padding-bottom: 5px;
	display: inline-block;
	width: 66.7%;
	vertical-align: top;
}

section#nursery div.row div.details h3{
	margin: 0px;
	padding-top: 0px;
	font-size: 18px;
}

section#nursery div.row div.details h3 a{
	color: #333;
}

section#nursery div.row div.details p.excerpt{
	margin-bottom: 3px;
	font-size: 13px;
	padding-right: 10px;
}

section#nursery div.row div.details p.detail{
	margin-bottom: 0px;
}

section#nursery div.row div.details p span{
	font-size: 3px;
	vertical-align: middle;
}

section#nursery div.row div.details p a.author{
	color: #666;
	font-size: 13px;
	display: inline-block;
}

section#nursery div.row div.details p a.cat{
	color: #666;
	font-size: 12px;
	display: inline-block;
	text-transform: capitalize;
}

section#nursery div.row div.image{
	display: inline-block;
	width: 32%;
	/*width: 120px;*/
	height: 90px;
	overflow: hidden;
}


/*===CONVERSATIONS PAGE CONTENT=====*/
section#conversations div.container{
	padding: 0px;
	margin: 0px;
}

section#conversations div.row{
	margin: 0px;
	padding: 0px;
}

section#conversations div.row h3.title{
	margin: 0px;
  padding: 10px 15px;
  margin-bottom: 5px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #fff;
  /* background: linear-gradient(to right, #eee, #cfc, #eee); */
  border-bottom: 1px solid #ddd;
}

section#conversations div.row div.message{
	padding: 15px 3px;
	border-bottom: 3px solid #ccc;
}

section#conversations div.row div.message.unread{
	/*background-color: #f7d6d6;*/
	/*background-color: #f2dede;*/
}

section#conversations div.row div.message a:hover{
	text-decoration: none;
}

section#conversations div.row div.message a{
	text-decoration: none;
	color: #333;
}

section#conversations div.row div.message a p.detail{
	width: 100%;
	margin: 0px;
	padding: 0px 3px;
	font-size: 13px;
}

section#conversations div.row div.message a p.detail span.name{
	font-weight: bold;
}

section#conversations div.row div.message a p.detail span.time{
	float: right;
	font-size: 12px;
	color: #777;
}

section#conversations div.row div.message a p.last-msg{
	margin: 0px;
	padding: 0px 3px;
	font-size: 12px;
	color: #777;
}

/**/

section#conversations div.row div.message.unread{
	font-weight: 500;
}


section#conversations div.row div.message a p.detail span.name{
	color: #777;
}

section#conversations div.row div.message.unread a p.detail span.name{
	color: #333;
}

section#conversations div.row div.message.unread a p.last-msg{
	color: #333;
}



/*===MESSAGE PAGE CONTENT===*/
section#message div.container{
	padding: 0px;
	margin: 0px;
	width: 100%;
}

section#message div.row{
	margin: 0px;
	padding: 0px;
	width: 100%;
}

section#message div.msg-top{
	padding: 3px;
	margin-bottom: 2px;
	width: 100%;
	/*background-color: #fcf8e3;*/
	background-color: #E8F3EC;
	border-bottom: 2px solid #ccc;
	position: fixed;
	top: 0px;
	z-index: 3;
}

section#message div.msg-top a{
	text-decoration: none;
	color: #333;
}

section#message div.msg-top a:hover{
	text-decoration: none;
}

section#message div.msg-top a.back{
	float: left;
	z-index: 3;
	font-size: 18px;
	border: ;
}

section#message div.msg-top a.back i{
	padding: 5px;
}

section#message div.msg-top a.discover{
	float: right;
	z-index: 3;
	font-size: 18px;
	border: ;
}

section#message div.msg-top a.discover i{
	padding: 5px;
	transform: rotate(90deg);
}

section#message div.msg-top a.profile-pic img{
	display: block;
	margin: auto;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

section#message div.msg-top a.profile-pic p{
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	font-size: 14px;
}

section#message div.msg-content{
	padding: 0px;
	padding-bottom: 40px;
	padding-top: 100px;
}

section#message div.msg-content div#msg-content{
	padding: 3px;
	font-size: 12px;
}

section#message div.msg-content div#msg-content div{
	margin: 0px;
	padding: 8px 3px;
	border-bottom: 1px solid #cccccc;
}

section#message div.msg-content div#msg-content div.user{
	text-align: left;
}

section#message div.msg-content div#msg-content div.you{
	text-align: right;
}

section#message div.msg-content div#msg-content div p{
	margin-bottom: 5px;
	padding: 0px;
}

section#message div.msg-content div#msg-content div p.name{
	font-weight: bold;
}

section#message div.msg-content div#msg-content div p.time{
	/**/
}

section#message div.msg-content div#msg-content div.user p.message{
	padding-left: 2px;
	padding-right: 10px;
}

section#message div.msg-content div#msg-content div.you p.message{
	padding-right: 2px;
	padding-left: 10px;
}

section#message div.msg-box{
	padding: 0px 5px;
	padding-bottom: 5px;
	background-color: #fff;
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 3; 
}

section#message div.msg-box div{
	margin: 0px;
	padding: 0px;
	width: 100%;
}

section#message div.msg-box form{
	margin: 0px;
	padding: 0px;
	width: 100%;
}

section#message div.msg-box form input{
	height: 35px;
	width: 88%;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #999;
	background-color: #ddd;
	outline: 0;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right: 0px;
	margin-right: -2px;
}

section#message div.msg-box form button{
	height: 35px;
	width: 12%;
	border: 1px solid #999;
	outline: 0;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-left: 0px;
	margin-left: -2px;
	/*background-color: #356B44;*/
	background-color: #ccc;
}


/*===CREATE ARTICLE PAGE===*/
section#create-post div.row div{
	padding: 0px;
}

section#create-post h3.h3{
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 10px 15px;
	font-size: 18px;
	background: linear-gradient(to right, #eee, #cfc, #eee);
}

section#create-post form.create-post{
	margin-bottom: 20px;
	padding: 15px;
}

section#create-post form.create-post input:focus,
section#create-post form.create-post textarea:focus{
	border-color: #356B44;
}

section#create-post form.create-post label,
section#create-post form.create-post p.help-block{
	padding-left: 5px;
}

section#create-post form.create-post input.form-control{
	padding: 7px 15px;
	border-radius: 30px;
}

section#create-post form.create-post textarea{
	padding: 7px 15px;
	border-radius: 15px;
}

section#create-post form.create-post .btn{
	padding: 7px 20px;
	border-radius: 30px;
	border: 1px solid #356B44;
	/*background-color: #fff;*/
	background-color: #356B44;
	color: #fff;
}


/*===Category/Tag Page Content*/
section#search-page{
	margin: 0px;
	padding: 12px 0px;
}

section#search-page div.search-form input{
	border: 0px;
	padding: 3px;
	padding-left: 15px;
	min-width: 93%;
}

section#search-page div.search-form button{
	background-color: #fff;
	border: 0px;
	padding: 3px;
	padding-right: 20px;
	padding-left: 10px;
	font-size: 18px;
	color: #31C229;
	float: right;
	min-height: 25px;
	min-width: 5%;
}

section#search-page div.search-form div.input-group{
	border: 1px solid #777;
	border-radius: 30px;
	padding: 6px 10px;
	display: block;
}


section#search-page div.search-user-content h3#title,
section#search-page div.search-post-content h3#title{
		margin-bottom: 20px;
}

/*===== Styling for Users Search =====*/
section#search-page div.search-user-content div.contents > div{
	padding-left: 8px;
	padding-right: 8px;
}

section#search-page div.search-user-content img{
	height: 100px;
	width: 100px;
	/*float: right;*/
}

section#search-page div.search-user-content p{
	margin-bottom: 5px;
}

section#search-page div.search-user-content p a{
	color: #31C229;
}

section#search-page div.search-user-content p a:hover{
	color: #333;
}

section#search-page div.search-user-content p#name{
	font-size: 18px;
}

section#search-page div.search-user-content a.btn{
	border: 1px solid #31C229;
	color: #333;
	background-color: #fff;
	border-radius: 30px;
	padding: 7px 10px;
	margin: 5px;
	min-width: 100px;
}

section#search-page div.search-user-content a.btn:hover{
	background-color: #31C229;
	color: #fff;
}

section#search-page div.search-user-content span#user-details{
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	padding-left: 5px;
}




/*====== Styling for Posts Search ======*/
section#search-page div.search-post-content div.contents > div{
	padding-left: 8px;
	padding-right: 8px;
}

section#search-page div.search-post-content div.well{
	padding-right: 7px;
	padding-left: 7px;
}

section#search-page div.search-post-content div.well a#post-img{
	overflow-y: hidden !important;
	height: 300px;
	display: block;
}

section#search-page div.search-post-content div.well img{
	min-height: 200px;
	width: 100%;
}

section#search-page div.search-post-content div.post p a{
	color: #090;
}
section#search-page div.search-post-content div.post p a:hover{
	text-decoration: none;
}

section#search-page div.search-post-content div.post p#post-title{
	font-size: 18px;
	padding-top: 5px;
	margin-bottom: 1px;
}

section#search-page div.search-post-content div.post p#post-title:hover{
	text-decoration: underline;
}

section#search-page div.search-post-content div.post p#post-details a{
	color: #555;
}
section#search-page div.search-post-content div.post p#post-details a:hover{
	color: #090;
}


/* Category / Tag Styling*/
section#search-page div.category-tag h3#title{
	font-weight: bold;
	color: #fff;
	font-size: 30px;
	letter-spacing: 0.2em;
	font-family: 'Patrick Hand', cursive;
	background-color: #31C229;
	padding: 20px 10px;
}
section#search-page div.category-tag p#post-title{
	font-size: 24px !important;
}
section#search-page div.category-tag p#post-details{
	font-size: 14px !important;
}
section#search-page div.category-tag div.well{
	padding-right: 10px;
	padding-left: 10px;
}





/*The Main Footer*/
footer#main{
	padding: 20px 0 5px 0;
	background-color: #eeeeee80;
	font-size: 12px;
	color: #999;
	background-color: #262626;
}

footer#main i.fa-circle{
	font-size: 5px;
	vertical-align: middle;
	color: #777;
	padding: 3px;
}

footer#main a{
	color: #999;
}

footer#main a.user{
	font-weight: bold;
}







/*For Small(sm) or Tablet Devices*/
@media (max-width: 991px) {
	/*===Category/Tag Page Content===*/
	section#search-page div.search-user-content span#user-details{
		display: block;
		padding-top: 5px;
	}
	section#search-page div.category-tag h3#title{
		font-size: 30px;
	}
	section#conversations div.row div.conv{
		padding: 0px;
		margin: 0px;
	}
}


/*For ExtraSmall(xs) or Mobile Devices*/
@media (max-width: 768px) {
	section#home-page-content{
		margin-top: 10px;
	}
	section#home-page-content ul.nav-tabs li a{
		background-color: #356B44;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		padding: 3px 10px;
	}
	section#home-page-content ul.nav-tabs li.active a{
		border-color: #356B44;
	}
	section#home-page-content div.tab-content div.panel div.panel-body{
		box-shadow: none;
		border-bottom: 1px solid #aaa;
	}

	/*===Category/Tag Page Content===*/
	section#search-page div.search-form input{
		min-width: 88%;
	}
	section#search-page div.search-form button{
		min-width: 4%;
	}

	section#search-page div.search-user-content h3#title,
	section#search-page div.search-post-content h3#title{
		font-size: 26px;
	}

	section#search-page div.search-user-content div.row > div{
		padding-right: 5px;
		padding-left: 5px;
		padding-top: 0px !important;
	}

	section#search-page div.search-user-content img{
		height: 70px;
		width: 70px;
	}

	section#search-page div.search-user-content a#follow,
	section#search-page div.search-user-content a#following{
		padding: 5px 3px;
		min-width: 70px;
		margin: 1px;
	}

	section#search-page div.search-user-content a#profile-btn{
		display: none;
	}

	section#search-page div.search-user-content p#name,
	section#search-page div.search-user-content p#username{
		padding-top: 1px;
	}
	section#search-page div.search-user-content p#name{
		font-size: 16px;
		line-height: 12px;
	}
	section#search-page div.search-user-content span#user-details{
		font-size: 12px;
		padding-top: 2px;
		padding-left: 0px;
	}
	section#search-page div.search-user-content p#short-bio{
		display: none;
	}


	/* Style for Post Search*/
	section#search-page div.search-post-content div.post p#post-title{
		font-size: 17px;
	}
	section#search-page div.search-post-content div.post p#post-details{
		font-size: 13px;
	}


	/* Styling for Category / Tag Page*/
	section#search-page div.search-user-content h3#title,
	section#search-page div.search-post-content h3#title{
		margin-bottom: 10px;
		margin-top: 10px;
	}
	
	footer#main p.copyright{
		padding-top: 20px;
	}

}



/*For Screens above Mobile (Tablet)*/
@media (min-width: 768px) {
	body{
		font-family: Lucida, sans-serif;
		padding-top: 45px;
	}

	/*The Login Page*/
	#login-form form .form-group{
		margin-bottom: 30px;
	}

}



/*For screen above Tablet (Desktop)*/
@media (min-width: 991px) {
	body{
		padding-top: 45px;
	}
	section#hub div.row div.image{
		/*height: 250px;*/
	}
	nav.navbar{
		padding-top: 2px;
	}
	nav.navbar div.container{
		padding: 0px 10px 0px 90px;
	}
	.navbar-nav > li > a {
	   padding: 7px 30px;
	}
	section#hub .row.latest h3.title {
		padding-left: 100px;
		font-size: 16px;
	}
	/*hvbhbvhbvh*/
	section div.row.pad{
		padding-top: 10px;
	}




	
}


@media (min-width: 1200px) {
	.navbar-form input {
	    min-width: 350px;
	 }
}


section#home-page-content .home{
		padding: 15px 7px;
		margin-bottom: 7px;
		border-bottom: 4px solid #ddd;
	}

	section#home-page-content .home .recent-action{
		border-bottom: 0.5px solid #ddd;
		font-size: 12px;color: #555;
		margin: 0px;padding-bottom: 12px;
	}

	section#home-page-content .home .user{
		color: #333;font-weight: bold
	}


	section#home-page-content .home .action{
		font-weight: bold;color: #333;
	}

	section#home-page-content .author{
		padding: 15px 0px;
	}

	section#home-page-content .author img{
		display: inline-block;width: 40px;height: 40px;
	}

	section#home-page-content .author .detail{
		display: inline-block;padding-left: 5px;min-width: 70%;margin: 0px;vertical-align: middle;
	}

	section#home-page-content .author span.name a{
		color: #555;font-weight: bold;
	}
	
	section#home-page-content .author span.level{
		font-size: 13px; color: #777;
	}

	section#home-page-content div.content img{
		display: block;width: 65%;padding-left: 50px;
	}

	section#home-page-content div.content p.excerpt{
		color: #777;font-size: 13px;margin: 0px; padding: 8px 2px;
	}

	section#home-page-content div.content p.stats{
		padding: 5px 2px;font-size: 12px;color: #999;width: 100%;margin: 0px;	
	}

	section#home-page-content div.content p.stats .seperator{
		font-size: 4px;padding: 0px 8px;margin-top: 0px;vertical-align: middle;
	}

	section#home-page-content div#aside{
		display: none;
	}


section.search_page{
	min-height: calc(100vh - 125px);background-color: #ddd;
}

section.search_page .conv{
	background-color: #fff;min-height: calc(100vh - 180px);
}

section.search_page .conv form .nav-tabs{
	display: inline-table;vertical-align: middle;
}

section.search_page .conv form{
	margin-bottom: 10px;
}
