/*
*	 Author: Abdulwahab Nasir (weybansky)
*	  Email: weybansky@gmail.acom
*	 Github: https://github.com/weybansky
*	Twitter: https://twitter.com/weybansky
*	Website: https://www.weybanskytech.com.ng
*/

.user-name{
	font-weight: bold;
}

.rain-maker{
	font-style: italic;
}



@import url('https://fonts.googleapis.com/css?family=Lato');
/*font-family: 'Lato', sans-serif;*/


@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
/*font-family: 'Gloria Hallelujah', cursive;*/


@import url('https://fonts.googleapis.com/css?family=Roboto');
/*font-family: 'Roboto', sans-serif;*/

@import url('https://fonts.googleapis.com/css?family=Handlee|Neucha|Patrick+Hand');
/*font-family: 'Handlee', cursive;*/
/*font-family: 'Patrick Hand', cursive;*/
/*font-family: 'Neucha', cursive;*/



body{
	font-family: 'Lato', sans-serif;
}



/*The Top Navigation*/
nav.main-nav{
	background-color: #356B44;
	padding: 5px 0px;
	min-height: 25px;
}

nav div.container,
nav div.row{
	padding: 0px;
	margin: 0px;
}

nav.main-nav div.row div{
	padding: 0px 5px;
}

nav.main-nav a.logo{
	padding: 0px;
	display: block;
}

nav.main-nav img{
	height: 20px;
	margin-left: -8px;
	margin-top: 3px;
}

nav.main-nav form{
	margin: 0px;
	padding: 0px;
	padding-top: 2px;
	display: block;
	font-size: 12px;
	margin: 0px auto;
	float: right;
}

nav.main-nav form input{
	float: left;
	height: 25px;
	width: 120px;
	margin: 0px;
	padding: 3px 7px;
	border: 1px solid #31C299;
	border-right: 0px none;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	outline: 0px;
}

nav.main-nav form input:focus{
	border-color: #356B44;
}

nav.main-nav form button{
	float: left;
	height: 25px;
	width: 30px;
	margin: 0px;
	background-color: #eef;
	border: 0px none;
	border-left: 1px solid #eee;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	color: #356B44;
}


nav.main-nav ul{
	float: right;
	margin: 0px;
	padding: 0px;
}

nav.main-nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 5px 3px;
	margin-right: 1px;
}

nav.main-nav ul li a{
	color: #fff;
	font-size: 14px;
	display: block;
}

nav.main-nav ul li i{
	padding-right: 1px;
}


/*The Second Navigation*/
section.second-nav{
	padding: 5px 0px;
	margin: 0px;
	box-shadow: 1px 0px 5px;
	margin-bottom: 5px;
}

section.second-nav div.container{
	padding: 0px;
	margin: 0px;
}


section.second-nav div.profile{
	padding: 0px;
	margin: 0px;
}

section.second-nav div.profile  div{
	padding-bottom: 10px;
}

section.second-nav div.profile a{
	display: inline-block;
	text-align: left;
	padding-left: 25px;
}

section.second-nav div.profile a img{
	display: inline-block;
	height: 30px;
	width: 30px;
}

section.second-nav div.profile a span{
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}

section.second-nav div.profile a.create-post{
	color: #356B44;
	float: right;
}

section.second-nav div.profile a.creat-post i{
	font-size: 14px;
}

section.second-nav div.row.text-center{
	padding: 0px;
	margin: 0px;
}

section.second-nav div.row.text-center div a{
	color: #444;
	font-size: 14px;
}

section.second-nav div.row.text-center div a.active{
	color: #356B44;
}


/*=====HOME PAGE CONTENT=====*/
section#home-page-content{
	margin-top: 30px;
}

section#home-page-content ul.nav-tabs li a{
	background-color: #356B44;
	color: #fff;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding:5px 20px;
}

section#home-page-content div.tab-content div.panel{
	border-radius: 0px;
	border: 0px;
}

section#home-page-content div.tab-content div.panel div.panel-body{
	border-radius: 3px;
}

section#home-page-content div.tab-content div.panel div.panel-body{
	box-shadow: 1px 1px 6px #aaa, -1px 1px 6px #aaa;
	margin-bottom: 18px;
}


/*======Article PAGE CONTENT=======*/
section#article{
	margin-top: 12px;
}

div.article-head div.article-head-img img{
	width: 100%;
}

div.article-head h3{
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 26px;
	padding-left: 10px;
}

div.article-head-body{
	padding-left: 10px;
}

div.article-head-body i{
	font-size: 6px !important;
	vertical-align: middle;
	color: #555555;
	padding: 0px 5px;
}

div.article-head-body p span{
	font-size: 14px;
	font-family: 'Lato', sans-serif;
}

div.article-head-body p a{
	color: #356B44;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
}
div.article-head-body p a:hover{
	color: #333333;
}

div.article-head-body a.btn{
	border-radius: 30px;
	border: 1px solid #356B44;
	padding: 3px 6px;
	font-size: 12px;
}

div.article-head-body a.btn#follow{

}
div.article-head-body a.btn#following{
	color: #fff;
	background-color: #356B44;
}
div.article-head-body a.btn#follow:hover{
	color: #fff;
	background-color: #356B44;
}
div.article-head-body a.btn#following:hover{
	color: #356B44;
	background-color: #fff;
}


/*=============Article Body=================*/
div.article-body{
	padding-top: 15px;
	line-height: 28px;
	letter-spacing: 0.1em;
	font-family: 'Handlee', cursive;
}

/*=============Article Footer============*/
section.article-footer ul.nav-tabs{
	margin-bottom: 5px;
}

section.article-footer ul.nav-tabs li a{
	color: #ffffff;
	background-color: #356B44;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	padding: 8px 18px;
	padding-bottom: 5px;
	margin-right: -3px;
}

section.article-footer ul.nav-tabs li.active a{
	background-color: #356B44;
	color: #fff;
}

section.article-footer .btn-success{
	background-color: #356B44;
}

section.article-footer div#commentAndReviews div.row{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 80px;
}

section.article-footer div#commentAndReviews div.row#review{
	background-color: #eeeeee;
}

section.article-footer div#commentAndReviews div.row img{
	margin-top: 10px;
}

section.article-footer div#commentAndReviews div.row span.username,
section.article-footer div#commentAndReviews div.row span.username a{
	color: #356B44 !important;
}

section.article-footer div#commentAndReviews div.row span.level,
section.article-footer div#commentAndReviews div.row span.level a{
	color: #337ab7 !important;
}


/*=====Profile Page Content=====*/
#profile-page #profile{
	padding-top: 15px;
	padding-bottom: 10px;
	/*background-color: #f5f5f5;*/
}

#profile-page #profile div img#profile-picture{
	height: 160px;
	width: 160px;
	border-radius: 50%;
	float: right;
	margin-right: 7px;
	margin-left: 25px;
}

#profile-page #profile #profile-details h3{
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	letter-spacing: 2px;
	margin-top: 7px;
	margin-bottom: 7px;
}

#profile-page #profile #profile-details p#profile-username{
	font-family: 'Roboto', sans-serif;
	margin-bottom: 7px;
}

#profile-page #profile #profile-details p#profile-username .fa-at{
	font-size: 18px;
	margin-right: 3px;
	vertical-align: middle;
	color: #356B44;
}

#profile-page #profile #profile-details p#profile-active .fa{
	font-size: 12px;
	margin-right: 3px;
}

#profile-page #profile #profile-details p a#follow{
	border: 2px solid #356B44;
	border-radius: 30px;
	padding: 5px 15px;
}

#profile-page #profile #profile-details p a#follow:hover{
	color: #ffffff;
	background-color: #356B44;
}

#profile-page #profile #profile-details p a#following{
	margin-left: 10px;
	border: 2px solid #356B44;
	border-radius: 30px;
	color: #ffffff;
	color: #ffffff;
	background-color: #356B44;
	padding: 5px 15px;
}

#profile-page #profile #profile-details p a#following:hover{
	color: #00ff00;
	background-color: #ffffff;
}

#profile-page #profile #profile-short-bio p{
	margin-top: 15px;
	margin-bottom: 0px;
}

#profile-page #profile-stats{
	padding-top: 5px;
	padding-bottom: 10px;
}

#profile-page #profile-stats div{
	padding: 0px 10px;
}

#profile-page #profile-stats div:nth-child(odd){
	background-color: #f5f5f5;
}

#profile-page #profile-stats a{
	color: #333333;
}
#profile-page #profile-stats a:hover{
	text-decoration: none;
	color: #356B44;
}

#profile-page #profile-stats h5{
	/*font-weight: 600;*/
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}

#profile-page #profile-stats p{
	font-size: 16px;
}

#profile-page #profile-page-links{
	margin: 10px 0px;
	min-height: 60px !important;
}

#profile-page #profile-page-links #links a{
	display: inline-block;
	text-align: center;
	color: #333333;
	text-decoration: none;
	margin-right: 7px;
	padding: 5px 5px;
	padding-bottom: 7px;
	min-width: 15px;
}

#profile-page #profile-page-links #links a:hover{
	color: #ffffff !important;
	background-color: #356B44;
}

#profile-page #profile-page-links #links .fa{
	/*color: #356B44;*/
}

#profile-page #profile-page-links #edit-profile-btn a{
	border: 2px solid #356B44;
	border-radius: 30px;
	padding: 5px 12px;
	/*float: right;*/
	vertical-align: middle;
}

#profile-page #profile-page-links #edit-profile-btn a:hover{
	color: #ffffff;
	background-color: #356B44;
}

/*========== Followers / Following ==========*/
#profile-page div.followers{

}
#profile-page div.followers .panel-body img{
	width: 50px;
	height: 50px;
}
#profile-page div.followers .panel-body h5{
	margin: 0px;
	padding-top: 3px;
	padding-bottom: 5px;
}
#profile-page div.followers .panel-body h5 a{
	color: #356B44;
	text-decoration: none;
}
#profile-page div.followers .panel-body h5 a:hover{
	text-decoration: underline;
	color: #009;
}
#profile-page div.followers .panel-body a.btn{
	border-radius: 30px;
	padding: 7px 15px;
	border: 2px solid #356B44;
	min-width: 84px;
}
#profile-page div.followers .panel-body a.btn#follow:hover{
	color: #ffffff;
	background-color: #356B44;
}
#profile-page div.followers .panel-body a.btn#following{
	color: #ffffff;
	background-color: #356B44;
}
#profile-page div.followers .panel-body a.btn#following:hover{
	background-color: #ffffff;
	color: #356B44;
}




/*=====LOGIN/SIGNUP PAGE CONTENT*/
#login-page-text img{
	width: 100px;
}

#login-page-text p{
	font-size: 20px;
}

#login-page-text a{
	color: #356B44;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 30px;
}

/*The Login Form*/
#login-form{
	margin-top: 20px;
}
/*==================================*/
#login-form div.panel{
	border-radius: 25px;
	border: 2px #777777 solid;
	background-color: rgba(255, 255, 255, 0.65);
}
/*============================================*/

#login-form div.panel h3{
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 20px;
}

#login-form form div.input-group span{
	background-color: rgba(255, 255, 255, 0.3) !important;
	color: #555555;
	font-size: 20px;
	border: 1px #777 solid;
	border-right-width: 0px;
	border-radius: 30px 0px 0px 30px !important;
}

#login-form form div.input-group input{
	border: 1px #777 solid;
	border-left-style: hidden;
	border-radius: 0px 30px 30px 0px !important;
	background-color: rgba(255, 255, 255, 0.3) !important;
}

#login-form form div.input-group input:focus{
	box-shadow: none;
	border-color: #356B44 !important;
}

#login-form button{
	background-color: #356B44;
}

#login-form .btn{
	border-radius: 10px;
}

#login-form #divide{
	height: 50px;
}

#login-form #divide hr{
	display: inline-block;
	width: 35%;
	border: 1px #aaaaaa solid;
	vertical-align: middle;
}

#login-form #divide span{
	font-family: monospace;
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	width: 20%;
	color: #777777;
}

/*Other Sign Up Options*/
#login-form #signup-options a{
	width: 100%;
	margin-bottom: 15px;
	padding: 5px 12px;
	font-size: 14px;
	font-family: monospace;
}

#login-form #signup-options a#facebook-signup-button{
	border-color: #1133aa;
}

#login-form #signup-options a#facebook-signup-button:hover{
	background-color: #1133aa;
	color: #fff !important;
}

#login-form #signup-options a#google-signup-button{
	border-color: #ff0000;
}

#login-form #signup-options a#google-signup-button:hover{
	background-color: #ff0000;
	color: #fff !important;
}

#login-form #signup-options i{
	float: left;
	vertical-align: bottom;
	font-size: 18px;
	border-radius: 25px;
	width: 30px;
	height: 30px;
	padding-top: 6px;
	padding-left: 2px;
}

#login-form #signup-options a#facebook-signup-button i{
	background-color: #1133aa;
	color: #ffffff;
}

#login-form #signup-options a#google-signup-button i{
	background-color: #ff0000;
	color: #ffffff;
}

#login-form #form-footer p{
	font-size: 14px;
	letter-spacing: 2px;
	margin-bottom: 50px;
}

#login-form #form-footer p.copyright{
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 15px;
	font-weight: 500;
	font-family: monospace;
}

#login-form #form-footer p.copyright i{
	font-size: 18px;
}

#login-form #form-footer p.copyright a{
	color: #1133aa;
	text-decoration:none;
}


/*====HUB PAGE CONTENT=====*/
section#hub div.row{
	padding: 0px;
}

section#hub h3.title{
	margin: 0px;
	padding: 10px 15px;
	margin-bottom: 5px;
	font-size: 18px;
	/*background-color: #ded;*/
	background: linear-gradient(to right, #eee, #cfc, #eee);
}

section#hub div.row div.post{
	background: #fff;
}

section#hub div.row div.image{
	width: 100%;
	height: 200px;
	overflow: hidden;
	position: relative;
}

section#hub div.row div.image div.date{
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 12px;
	color: #fff;
	background: #356B44;
	border-radius: 50%;
	padding: 10px;
	text-align: center;
	width: 50px;
	height: 50px;
}

section#hub div.row div.image div.date p{
	margin: 0px;
}

section#hub div.row div.image div.category{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 12px;
	color: #fff;
	background: #356B44;
	border-top-right-radius: 5px;
}

section#hub div.row div.image div.category p{
	margin: 0px;
}

section#hub div.row div.image div.category p a{
	color: #fff;
	display: block;
	padding: 5px 7px;
	text-decoration: none;
	text-transform: uppercase;
}

section#hub div.row div.details{
	padding: 5px 10px;
}

section#hub div.row div.details p.title{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 2px;
}

section#hub div.row div.details p.title a{
	color: #333;
}

section#hub div.row div.details p.title small{
	font-weight: lighter;
	font-size: 12px;
}

section#hub div.row div.details p.title small a{
	font-weight: bold;
	color: #333;
}

section#hub div.row div.details p.facilitator-comment{
	font-family: 'Lato', sans-serif;
	font-style: italic;
	margin-bottom: 2px;
}

section#hub div.row div.details p.stats{
	font-size: 12px;
	color: #555;
}

section#hub div.row div.details p.stats i{
	margin-right: 3px;
}

/*=====NURSERY PAGE CONTENT=====*/
section#nursery div.container-fluid{
	padding: 0px;
	margin: 0px;
}

section#nursery div.row{
	margin: 0px;
	padding: 0px;
}

section#nursery h3.title{
	margin: 0px;
	padding: 10px 20px;
	margin-bottom: 5px;
	font-size: 18px;
	/*background-color: #ded;*/
	background: linear-gradient(to right, #eee, #cfc, #eee);
}

section#nursery div.row div.post{
	border-bottom: 1px solid #eee;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

section#nursery div.row div.details{
	padding-left: 20px;
	display: inline-block;
	width: 68.7%;
	vertical-align: top;
}

section#nursery div.row div.details h3{
	margin: 0px;
	padding-top: 8px;
	font-size: 18px;
}

section#nursery div.row div.details p span{
	font-size: 3px;
	vertical-align: middle;
}

section#nursery div.row div.details p a.author{
	color: #555;
	font-size: 13px;
	display: inline-block;
	font-weight: bold;
}

section#nursery div.row div.details p a.cat{
	color: #555;
	font-size: 13px;
	display: inline-block;
}

section#nursery div.row div.image{
	display: inline-block;
	width: 30%;
	height: 60px;
	overflow: hidden;
}


/*===CONVERSATIONS PAGE CONTENT=====*/
section#conversations div.container{
	padding: 0px;
	margin: 0px;
}

section#conversations div.row{
	margin: 0px;
	padding: 0px;
}

section#conversations div.row h3.title{
	margin: 0px;
	padding: 10px 20px;
	margin-bottom: 5px;
	font-size: 18px;
	background: linear-gradient(to right, #eee, #cfc, #eee);
}

section#conversations div.row div.conv{
	padding: 0px;
	margin: 0px;
}

section#conversations div.row div.message{
	padding: 5px;
	border-bottom: 1px solid #777;
}

section#conversations div.row div.message.unread{
	background-color: #dfd;
	/*background-color: #f7d6d6;*/
	/*background-color: #f2dede;*/
}

section#conversations div.row div.message a:hover{
	text-decoration: none;
}

section#conversations div.row div.message a{
	text-decoration: none;
	color: #333;
}

section#conversations div.row div.message a p.detail{
	width: 100%;
	margin: 0px;
	padding: 0px 3px;
	font-size: 13px;
}

section#conversations div.row div.message a p.detail span.name{
	font-weight: bold;
}

section#conversations div.row div.message a p.detail span.time{
	font-style: italic;
	float: right;
}

section#conversations div.row div.message a p.last-msg{
	margin: 0px;
	padding: 0px 3px;
	font-size: 12px;
}



/*===MESSAGE PAGE CONTENT===*/
section#message div.container{
	padding: 0px;
	margin: 0px;
	width: 100%;
}

section#message div.row{
	margin: 0px;
	padding: 0px;
	width: 100%;
}

section#message div.msg-top{
	padding: 3px;
	box-shadow: 1px 0px 5px;
	margin-bottom: 2px;
	width: 100%;
}

section#message div.msg-top a{
	text-decoration: none;
	color: #333;
}

section#message div.msg-top a:hover{
	text-decoration: none;
}

section#message div.msg-top a.back{
	float: left;
	z-index: 3;
	font-size: 18px;
	border: ;
}

section#message div.msg-top a.back i{
	padding: 5px;
}

section#message div.msg-top a.profile-pic img{
	display: block;
	margin: auto;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

section#message div.msg-top a.profile-pic p{
	margin: 0px;
	padding: 0px;
	margin-left: 35px;
	font-weight: bold;
	font-size: 14px;
}

section#message div.msg-content{
	padding: 0px;
	padding-bottom: 40px;
}

section#message div.msg-content div#msg-content{
	padding: 3px;
	font-size: 12px;
}

section#message div.msg-content div#msg-content div{
	margin: 0px;
	padding: 3px;
	border-bottom: 1px solid #777;
}

section#message div.msg-content div#msg-content div.user{
	text-align: left;
}

section#message div.msg-content div#msg-content div.you{
	text-align: right;
}

section#message div.msg-content div#msg-content div p{
	margin: 0px;
	padding: 0px;
}

section#message div.msg-content div#msg-content div p.name{
	font-weight: bold;
}

section#message div.msg-content div#msg-content div p.time{
	font-style: italic;
}

section#message div.msg-content div#msg-content div.user p.message{
	padding-left: 2px;
	padding-right: 10px;
}

section#message div.msg-content div#msg-content div.you p.message{
	padding-right: 2px;
	padding-left: 10px;
}

section#message div.msg-box{
	padding: 0px 5px;
	padding-bottom: 5px;
	background-color: #fff;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

section#message div.msg-box div{
	margin: 0px;
	padding: 0px;
	width: 100%;
}

section#message div.msg-box form{
	margin: 0px;
	padding: 0px;
	width: 100%;
}

section#message div.msg-box form input{
	height: 35px;
	width: 88%;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #333;
	outline: 0;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right: 0px;
	margin-right: -2px;
}

section#message div.msg-box form button{
	height: 35px;
	width: 12%;
	border: 1px solid #333;
	outline: 0;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-left: 0px;
	margin-left: -2px;
	background-color: #356B44;
}


/*===CREATE ARTICLE PAGE===*/
section#create-post div.row div{
	padding: 0px;
}

section#create-post h3.h3{
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 10px 15px;
	font-size: 18px;
	background: linear-gradient(to right, #eee, #cfc, #eee);
}

section#create-post form.create-post{
	margin-bottom: 20px;
	padding: 15px;
}

section#create-post form.create-post input:focus,
section#create-post form.create-post textarea:focus{
	border-color: #356B44;
}

section#create-post form.create-post label,
section#create-post form.create-post p.help-block{
	padding-left: 5px;
}

section#create-post form.create-post input.form-control{
	padding: 7px 15px;
	border-radius: 30px;
}

section#create-post form.create-post textarea{
	padding: 7px 15px;
	border-radius: 15px;
}

section#create-post form.create-post button.btn{
	padding: 7px 20px;
	border-radius: 30px;
	border: 1px solid #356B44;
	/*background-color: #fff;*/
	background-color: #356B44;
	color: #fff;
}


/*===Category/Tag Page Content*/
section#search-page{
	margin: 0px;
	padding: 12px 0px;
}

section#search-page div.search-form input{
	border: 0px;
	padding: 3px;
	padding-left: 15px;
	min-width: 93%;
}

section#search-page div.search-form button{
	background-color: #fff;
	border: 0px;
	padding: 3px;
	padding-right: 20px;
	padding-left: 10px;
	font-size: 18px;
	color: #31C229;
	float: right;
	min-height: 25px;
	min-width: 5%;
}

section#search-page div.search-form div.input-group{
	border: 2px solid #555;
	border-radius: 30px;
	padding: 10px;
	display: block;
}


section#search-page div.search-user-content h3#title,
section#search-page div.search-post-content h3#title{
		margin-bottom: 20px;
}

/*===== Styling for Users Search =====*/
section#search-page div.search-user-content div.contents > div{
	padding-left: 8px;
	padding-right: 8px;
}

section#search-page div.search-user-content img{
	height: 100px;
	width: 100px;
	/*float: right;*/
}

section#search-page div.search-user-content p{
	margin-bottom: 5px;
}

section#search-page div.search-user-content p a{
	color: #31C229;
}

section#search-page div.search-user-content p a:hover{
	color: #333;
}

section#search-page div.search-user-content p#name{
	font-size: 18px;
}

section#search-page div.search-user-content a.btn{
	border: 1px solid #31C229;
	color: #333;
	background-color: #fff;
	border-radius: 30px;
	padding: 7px 10px;
	margin: 5px;
	min-width: 100px;
}

section#search-page div.search-user-content a.btn:hover{
	background-color: #31C229;
	color: #fff;
}

section#search-page div.search-user-content span#user-details{
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	padding-left: 5px;
}




/*====== Styling for Posts Search ======*/
section#search-page div.search-post-content div.contents > div{
	padding-left: 8px;
	padding-right: 8px;
}

section#search-page div.search-post-content div.well{
	padding-right: 7px;
	padding-left: 7px;
}

section#search-page div.search-post-content div.well a#post-img{
	overflow-y: hidden !important;
	height: 300px;
	display: block;
}

section#search-page div.search-post-content div.well img{
	min-height: 200px;
	width: 100%;
}

section#search-page div.search-post-content div.post p a{
	color: #090;
}
section#search-page div.search-post-content div.post p a:hover{
	text-decoration: none;
}

section#search-page div.search-post-content div.post p#post-title{
	font-size: 18px;
	padding-top: 5px;
	margin-bottom: 1px;
}

section#search-page div.search-post-content div.post p#post-title:hover{
	text-decoration: underline;
}

section#search-page div.search-post-content div.post p#post-details a{
	color: #555;
}
section#search-page div.search-post-content div.post p#post-details a:hover{
	color: #090;
}


/* Category / Tag Styling*/
section#search-page div.category-tag h3#title{
	font-weight: bold;
	color: #fff;
	font-size: 30px;
	letter-spacing: 0.2em;
	font-family: 'Patrick Hand', cursive;
	background-color: #31C229;
	padding: 20px 10px;
}
section#search-page div.category-tag p#post-title{
	font-size: 24px !important;
}
section#search-page div.category-tag p#post-details{
	font-size: 14px !important;
}
section#search-page div.category-tag div.well{
	padding-right: 10px;
	padding-left: 10px;
}




@media (max-width: 991px) {
	/*===Category/Tag Page Content===*/
	section#search-page div.search-user-content span#user-details{
		display: block;
		padding-top: 5px;
	}
	section#search-page div.category-tag h3#title{
		font-size: 30px;
	}
}


@media (max-width: 768px) {
	section#home-page-content{
		margin-top: 10px;
	}
	section#home-page-content ul.nav-tabs li a{
		background-color: #356B44;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		padding: 3px 10px;
	}
	section#home-page-content ul.nav-tabs li.active a{
		border-color: #356B44;
	}
	section#home-page-content div.tab-content div.panel div.panel-body{
		box-shadow: none;
		border-bottom: 1px solid #aaa;
	}

	/*=====Profile Page Content=====*/
	#profile-page #profile #profile-details h3{
	 font-size: 24px;
	}
	#profile-page #profile div img#profile-picture{
		height: 140px;
		width: 140px;
	}
	#profile-page #profile #profile-details p a#follow{
		padding: 5px 12px;
	}
	#profile-page #profile #profile-details p a#following{
		padding: 5px 12px;
	}
	#profile-page #profile #profile-short-bio p{
		margin-top: 2px;
	}
	#profile-page #profile-stats{
		padding-top: 3px;
		padding-bottom: 0px;
	}



	#profile-page div.followers .panel-body div.row div{
		padding: 0px 7px;
	}
	#profile-page div.followers .panel-body a.btn{
		padding: 5px 10px;
	}

	/*===Category/Tag Page Content===*/
	section#search-page div.search-form input{
		min-width: 88%;
	}
	section#search-page div.search-form button{
		min-width: 4%;
	}

	section#search-page div.search-user-content h3#title,
	section#search-page div.search-post-content h3#title{
		font-size: 26px;
	}

	section#search-page div.search-user-content div.row > div{
		padding-right: 5px;
		padding-left: 5px;
		padding-top: 0px !important;
	}

	section#search-page div.search-user-content img{
		height: 70px;
		width: 70px;
	}

	section#search-page div.search-user-content a#follow,
	section#search-page div.search-user-content a#following{
		padding: 5px 3px;
		min-width: 70px;
		margin: 1px;
	}

	section#search-page div.search-user-content a#profile-btn{
		display: none;
	}

	section#search-page div.search-user-content p#name,
	section#search-page div.search-user-content p#username{
		padding-top: 1px;
	}
	section#search-page div.search-user-content p#name{
		font-size: 16px;
		line-height: 12px;
	}
	section#search-page div.search-user-content span#user-details{
		font-size: 12px;
		padding-top: 2px;
		padding-left: 0px;
	}
	section#search-page div.search-user-content p#short-bio{
		display: none;
	}


	/* Style for Post Search*/
	section#search-page div.search-post-content div.post p#post-title{
		font-size: 17px;
	}
	section#search-page div.search-post-content div.post p#post-details{
		font-size: 13px;
	}


	/* Styling for Category / Tag Page*/
	section#search-page div.search-user-content h3#title,
	section#search-page div.search-post-content h3#title{
		margin-bottom: 10px;
		margin-top: 10px;
	}
}